# Ignore generated Flutter folders for GitHub language statistics.
mobile_web/build/** linguist-vendored
mobile_web/.dart_tool/** linguist-vendored
mobile_web/.idea/** linguist-vendored
mobile_web/.packages linguist-vendored

# Generated platform files.
mobile_web/web/** linguist-vendored
mobile_web/ios/Flutter/** linguist-vendored
mobile_web/ios/Pods/** linguist-vendored
mobile_web/ios/Runner.xcworkspace/** linguist-vendored
mobile_web/android/**/build/** linguist-vendored
mobile_web/android/.gradle/** linguist-vendored
mobile_web/linux/flutter/** linguist-vendored
mobile_web/windows/flutter/** linguist-vendored

# Python cache.
__pycache__/** linguist-vendored
*.pyc linguist-vendored
