# Track large files with LFS
artifacts/model.safetensors filter=lfs diff=lfs merge=lfs -text

# Ignore Flutter build and tool folders for language stats
mobile_web/build/** linguist-vendored
mobile_web/.dart_tool/** linguist-vendored
mobile_web/.idea/** linguist-vendored
mobile_web/.packages linguist-vendored

# Ignore generated iOS/macOS/Android/Linux/Windows folders
mobile_web/ios/Flutter/** linguist-vendored
mobile_web/android/**/build/** linguist-vendored
mobile_web/linux/flutter/** linguist-vendored
mobile_web/windows/flutter/** linguist-vendored
